/node_modules
/public/js
/public/css
/public/fonts
/public/images
/public/build
/public/mix-manifest.json
/public/storage
/public/uploads
/storage/*.key
/vendor
/db
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_STORE
.editorconfig
/.idea
Archived
/storage/debugbar
