.dataTables_wrapper {
    .row:nth-child(2) {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 1rem;

        & > div {
            overflow: auto;
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    td.actions {
        width: 5%;
    }

    td.actions-3 {
        width: 10%
    }

    td {
        a {
            color: $primaryColor;
        }
    }
}

table.dataTable tbody > tr.selected, 
table.dataTable tbody > tr > .selected {
    background: $sideBarColor;
}

table.dataTable tbody tr.selected, 
table.dataTable tbody th.selected, 
table.dataTable tbody td.selected {
    color: $textColor;
}
