.select2 {
    width: 100% !important;
}

.select2-container {  
    height: 2.5rem;
    padding: 0.375rem 0.75rem;
    background-color: #fff;
    border: 1px solid #c2cad8;    
}

.select2-container--open {
    height: 0px;
    padding: 0px;
    border-width: 0px;
}

.select2-container.select2-container--below {
    height: 2.5rem;
    padding: 0.375rem 0.75rem;
    background-color: #fff;
    border: 1px solid #c2cad8;
}

.select2-container .select2-selection--single {
    height: auto;
}

.select2-container .select2-selection--single span.select2-selection__rendered {
    padding-left: 0px;
}

.select2-container--default .select2-selection--single {
    border-width: 0px;

    .select2-selection__arrow {
        top: 6px
    }
}
